<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title -%}{{ "Settings"|trans }}{%- endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/2.5.1/jquery-confirm.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
        <link href="{{ asset('bundles/ongrsettings/style.css') }}" type="text/css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body data-gr-c-s-loaded="true">
        <div class="container">
            <div class="row header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li {% if app.request.attributes.get('_route') == 'ongr_settings_experiments' %}class="active"{% endif %}>
                            <a href="{{ path('ongr_settings_experiments') }}">Experiments</a>
                        </li>
                        <li {% if app.request.attributes.get('_route') == 'ongr_settings_settings' %}class="active"{% endif %}>
                            <a href="{{ path('ongr_settings_settings') }}">Settings</a>
                        </li>
                        <li {% if app.request.attributes.get('_route') == 'ongr_settings_profiles' %}class="active"{% endif %}>
                            <a href="{{ path('ongr_settings_profiles') }}">Profiles</a>
                        </li>
                    </ul>
                </nav>
                <h3 class="text-muted">Settings management</h3>
            </div>

            <div class="row">
                {% block body %}{% endblock %}
            </div>

            <footer class="footer">
                <p>© {{ 'now'|date('Y') }} ONGR.io</p>
            </footer>
        </div>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/2.5.1/jquery-confirm.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.8/jquery.noty.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.8/packaged/jquery.noty.packaged.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/ongrsettings/script.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
