<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('ongr_settings_homepage') }}">General Settings</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="nav navbar-nav navbar-right">
                <a href="{{ path('ongr_settings_personal_settings')}}" class="btn btn-default navbar-btn" id="userIcon"><span class="glyphicon glyphicon-user"></span></a>
            </div>
            {% block search %}
                {% if filters.search is defined %}
                    {% set search = filters.search %}
                    <form class="navbar-form navbar-right" role="search" method="get" action="{{ path('ongr_settings_settings_list', routeParams) }}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="q" value="{% if search is defined %}{{ search.state.value }}{% endif %}" placeholder="{% if search is defined %}{{ search.name | capitalize | trans }}{% else %}Search{% endif %}" autocomplete="off">
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                {% endif %}
            {% endblock %}
            {% block profile_choice %}
                {% if filters.profile is defined %}
                    {% set profile = filters.profile.state %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ profile.name | capitalize }}: {{ profile.value }}
                                <span class="caret"></span>
                            </a>
                            {% if filters.profile.choices|length > 1%}
                                <ul class="dropdown-menu">
                                    {% for value in filters.profile.choices %}
                                        {% if not value.active %}
                                            <li><a href="{{ path('ongr_settings_settings_list', value.urlParameters) }}">{{ value.label }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                    </ul>
                {% endif %}
            {% endblock %}
            {% block buttons %}
                <div class="nav navbar-nav">
                    <a href="{{ path('ongr_settings_settings_add') }}" class="btn btn-default navbar-btn">Add setting</a>
                    <a class="btn btn-default navbar-btn" href="{{ path('ongr_settings_profile_add') }}">Add profile</a>
                </div>
            {% endblock %}
        </div>
    </div>
</nav>
