{% extends 'ONGRSettingsBundle::layout.html.twig' %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <h2 class="col-sm-offset-2 col-sm-6">Duplicate setting `{{ setting.name }}`</h2>
        </div>
        <form class="form-horizontal" id="editSettingForm" action="{{
            path('ongr_settings_setting_copy', {'name': setting.name, 'from': setting.profile })
            }}" method="post">
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control"  value="{{ setting.description }}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="type" class="col-sm-2 control-label">Type</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" value="{{ setting.type }}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="value" class="col-sm-2 control-label">Value</label>
                <div class="col-sm-6">
                    {% if setting.type != 'array' %}
                        {% if setting.type == 'bool' and setting.data.value == true%}
                            <input type="text" class="form-control" value="true" readonly/>
                        {% elseif  setting.type == 'bool'%}
                            <input type="text" class="form-control" value="false" readonly/>
                        {% else %}
                            <input type="text" class="form-control" value="{{ setting.data.value }}" readonly/>
                        {% endif %}
                    {% else %}
                        <ul id="addSettingArray" class="list-unstyled" rel="0">
                            {% for value in setting.data.value %}
                                <li>
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="{{ value }}" readonly/>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="profile" class="col-sm-2 control-label">Profile</label>
                <div class="col-sm-6">
                    <select id="addSettingProfiles" multiple="multiple" name="settingProfiles[]" class="form-control">
                        {% for profile in profiles %}
                            {% if profile.name != setting.profile %}
                                <option value="{{ profile.name }}">{{ profile.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group no-margin-bottom" id="addSettingMessages">
                <div class="col-sm-offset-2 col-sm-10">
                    <p class="alert alert-success no-margin-bottom
                        {% if success is not defined %}hidden{% endif %}">Setting duplicated successfully.</p>
                    <p class="alert alert-danger no-margin-bottom
                        {% if errors is not defined %}hidden{% endif %}">
                        <strong>Creation failed</strong>. <span class="error-message">{% if errors is defined %}{{ errors }} {% endif %}</span></p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <input class="btn btn-primary" id="submitSettingForEditing" type="submit" value="Duplicate">
                    <a class="btn btn-danger" href="{{ path('ongr_settings_settings_list', { 'profile': setting.profile }) }}">Close</a>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
