{% extends 'ONGRSettingsBundle::base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <table id="settings" class="display table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Description</th>
            <th>Profile</th>
            <th>Actions</th>
        </tr>
        </thead>
    </table>

    <div id="setting-edit" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="setting-action-title">Setting edit</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.profile) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.value) }}
                    {% include 'ONGRSettingsBundle:inc:Form.html.twig' %}
                    {{ form_end(form) }}

                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="setting-form-submit">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="setting-delete" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Are you sure you want to delete the setting?</h4>
                </div>
                <div class="modal-body text-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" id="setting_delete_submit">Yes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        var profiles;
        formProfiles();
        $(document).ready(function () {
            updateProfileInputs();
            var table = $('#settings').DataTable( {
                ajax: {
                    url: './settings/search',
                    dataSrc: 'documents'
                },
                stateSave: true,
                columns: [
                    { data: 'name' },
                    { data: 'value' },
                    { data: 'description' },
                    { data: 'profile' },
                    {}
                ],
                columnDefs: [
                {
                    "targets": 1,
                    "render": function ( data, type, row ) {
                        if (row['type'] == 'bool') {
                            var label = $('<label/>').addClass('boolean-property btn btn-default')
                                    .addClass('boolean-property-' + row['id']).attr('data-id', row['id']);
                            var on = label.clone().html('ON').attr('data-element', 'boolean-property-' + row['id'])
                                    .attr('data-value', 1);
                            var off = label.clone().html('OFF').attr('data-element', 'boolean-property-' + row['id'])
                                    .attr('data-value', 0);

                            if (row['value'] == true) {
                                on.addClass('btn-primary');
                            } else {
                                off.addClass('btn-primary');
                            }

                            var cell = $('<div/>').addClass('btn-group btn-group-sm').append(on, off);

                            return cell.prop('outerHTML');

                        } else {
                            return data;
                        }
                    }
                },
                {
                    "targets": 3,
                    "orderable": false,
                },
                {
                    "targets": 4,
                    "data": null,
                    "orderable": false,
                    "defaultContent": '<a class="edit btn btn-primary btn-xs" data-toggle="modal" data-target="#setting-edit">Edit</a>&nbsp;<a class="delete btn btn-danger btn-xs" data-toggle="modal" data-target="#setting-delete">Delete</a>'
                } ]
            } );

            var newSettingButton = $('<button/>').html('Add new setting').addClass('btn btn-success btn-sm').attr(
                {
                    'data-toggle': 'modal',
                    'data-target': '#setting-edit',
                    'id': 'new-setting',
                    'onclick': 'onNewSetting()'
                }
            );

            $('#settings_filter').append(newSettingButton.prop('outerHTML'));

            $('#setting-edit').on('shown.bs.modal', function () {
                $('#setting-edit').focus();
            });

            $('#setting-delete').on('shown.bs.modal', function () {
                $('#setting-delete').focus()
            });

            $('#setting-form-submit').on('click', function () {
                var $form = $('form');
                var type = $('#edit-setting-type').find('.btn-primary').attr('rel');
                switch (type) {
                    case 'string':
                        $('#setting_value').val($('#add-setting-default').val());
                        break;
                    case 'array':
                        var array = [];
                        $('#add-setting-array').children().each(function () {
                            array.push($(this).find('input').val());
                        });
                        $('#setting_value').val(JSON.stringify(array));
                        break;
                    case 'object':
                        $('#setting_value').val($('#add-setting-object').val());
                        break;
                }
                $.ajax({
                    url: $form.attr('action'),
                    data: $form.serializeArray(),
                    success: function (data) {
                        if (!data.error) {
                            alert('success!');
                            refreshForm();
                        }
                    }
                });
            });

            $('#setting_delete_submit').on('click', function () {
                var id = $(this).attr('rel');
                $.ajax({
                    url: "./settings/delete/"+id,
                    success: function (data) {
                        if (data.error) {
                            alert(data.message);
                        } else {
                            table.ajax.reload();
                            $('.modal').modal('hide');
                        }
                    }
                });
            });

            $('#settings tbody').on( 'click', 'a.edit', function () {
                var data = table.row( $(this).parents('tr') ).data();
                $('#setting-action-title').text('Setting edit');
                $('form').attr('action', './settings/update/'+data.id);

                refreshForm();
                selectProfiles(data.profile);
                $('#setting_name').val(data.name);
                $('#setting_description').val(data.description);
                $('.setting-'+data.type).click();

                populateValues(data);
            } );

            $('#settings tbody').on( 'click', 'a.delete', function () {
                var data = table.row( $(this).parents('tr') ).data();
                $('#setting_delete_submit').attr('rel', data.id);
            } );

            $('#settings tbody').on( 'click', 'label.boolean-property', function () {
                var self = $(this);
                $.post('./settings/update-value/' + self.data('id'), {value:self.data('value')}, function(){
                    var element = self.data('element');
                    $("." + element).toggleClass('btn-primary');
                })
            } );

            $('.setting-type-bool').on('click', function () {
                $(this).addClass('btn-primary');
                $(this).siblings().removeClass('btn-primary');
                $('#setting_value').val($(this).attr('rel'));
            } );

            $('.setting-type').on('click', function () {
                $(this).siblings().removeClass('btn-primary');
                $(this).addClass('btn-primary');
                $('.setting-input-div').addClass('hidden');
                $('.setting-'+$(this).attr('rel')+'-div').removeClass('hidden');
                $('#setting_type').val($(this).attr('rel'));
            } );

            $('.settings-array-add').on('click', function () {
                addArrayElement();
            } );
        });

        function onNewSetting () {
            $('#setting-create').focus();
            $('#setting-action-title').text('New setting');
            $('form').attr('action', './settings/create');

            refreshForm();
        }

        function removeArrayInput (el) {
            $(el).closest('li').remove();
        }

        function addProfile (button) {
            var $input = $(button).parent().siblings('input');
            var profile = $input.val();
            $input.val('');
            if (profile != '') {

                var $settings = $('#profile-select');
                var odd = $settings.children('.column-1').find('.profile-checkbox').length;
                var even = $settings.children('.column-2').find('.profile-checkbox').length;
                var newCheckbox = getProfileItem(profile);

                if (odd > even) {
                    $settings.children('.column-2').append(newCheckbox);
                } else {
                    $settings.children('.column-1').append(newCheckbox);
                }
            }
        }

        function addArrayElement(value) {
            value = (typeof value === 'undefined') ? '' : value;
            var li = '<li>' +
                    '<div class="input-group">' +
                    '<input class="form-control" type="text" value="'+value+'">' +
                    '<span class="input-group-btn">' +
                    '<label class="btn btn-danger" onclick="removeArrayInput(this)" rel="a">' +
                    '<i class="glyphicon glyphicon-remove"></i>' +
                    '</label>' +
                    '</span>' +
                    '</div>' +
                    '</li>';
            $('#add-setting-array').append(li);
        }

        function formProfiles () {
            $.ajax({
                url: "./profiles/get_all",
                success: function (data) {
                    profiles = data;
                },
                async: false
            });
        }

        function refreshForm () {
            var $form = $('.form-horizontal');
            $('.profile-checkbox').prop('checked', false);
            $form.find('.form-control').val('');
            $('#add-setting-array').find('li').first().siblings('li').remove();
            $('#edit-setting-type').find('label').removeClass('btn-primary');
            $('.setting-bool-div').find('label').removeClass('btn-primary');
        }

        function populateValues(data) {
            switch (data.type) {
                case 'string':
                    $('#setting_value').val(data.value);
                    $('#add-setting-default').val(data.value);
                    break;
                case 'array':
                    var array = data.value;
                    $('#setting_value').val(JSON.stringify(array));
                    $('#add-setting-array').html('');
                    for (var i = 0; i < array.length; i++) {
                        addArrayElement(array[i]);
                    }
                    break;
                case 'object':
                    $('#setting_value').val(data.value);
                    $('#add-setting-object').val(data.value);
                    break;
                case 'bool':
                    $('#setting_value').val(data.value);
                    var value = parseInt(data.value) ? 'true' : 'false';
                    if (0) {
                        alert(data.value);
                    }
                    $('.setting-bool-div').find('label').each(function () {
                        if ($(this).attr('rel') == value) {
                            $(this).addClass('btn-primary');
                        }
                    });
                    break;
            }
        }

        function updateProfileInputs() {
            var profileInputs;
            var checkboxes = [];
            profiles.forEach(function (value) {
                checkboxes.push(
                    getProfileItem(value)
                );
            });
            profileInputs =
                '<div class="pre-scrollable" id="profile-select" style="max-height: 100px">' +
                    '<div class="col-sm-6 column-1">' +
                        getProfileItem('Select All', true) +
                        checkboxes.filter(function(v, i){return i%2 != 0}).join('') +
                    '</div>' +
                    '<div class="col-sm-6 column-2">' +
                        checkboxes.filter(function(v, i){return i%2 == 0}).join('') +
                    '</div>' +
                '</div>';
            $('#setting_profile').parent().html(profileInputs);
        }

        function getProfileItem(profile, selectAll) {
            var output;
            output = '<div class="row">';
            if (selectAll) {
                output += '<input type="checkbox" onclick="toggleProfiles(this)" class="profile-checkbox profile-select-pointer">';
            } else {
                output += '<input type="checkbox" name="profile[]" value="'+profile+'" class="profile-checkbox profile-select-pointer">'
            }
            output += '<label  style="padding-left: 10px;" class="profile-select-pointer" onclick="$(this).siblings().click()">' +
                        profile +
                    '</label>' +
                '</div>';
            return output;
        }

        function selectProfiles(profiles) {
            $('.profile-checkbox').each(function () {
                if (profiles.indexOf($(this).val()) >= 0)
                $(this).prop('checked', true);
            });
        }

        function toggleProfiles(select) {
            if ($(select).is(':checked')) {
                $('.profile-checkbox').prop('checked', true);
            } else {
                $('.profile-checkbox').prop('checked', false);
            }
        }
    </script>
{% endblock %}