{% extends 'ONGRSettingsBundle::base.html.twig' %}

{% block body %}
    <table id="settings" class="display table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Description</th>
            <th>Profile</th>
            <th>Actions</th>
        </tr>
        </thead>
    </table>

    <div id="setting-edit" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Setting edit</h4>
                </div>
                <div class="modal-body">
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.value) }}
                    {{ form_row(form.profile) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ongrsettings/style.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/ongrsettings/script.js') }}"></script>
    <script type="application/javascript">
        $(document).ready(function () {

            var table = $('#settings').DataTable( {
                ajax: {
                    url: './settings/search',
                    dataSrc: 'documents'
                },
                stateSave: true,
                columns: [
                    { data: 'name' },
                    { data: 'value' },
                    { data: 'description' },
                    { data: 'profile' },
                    {}
                ],
                columnDefs: [
                {
                    "targets": 1,
                    "render": function ( data, type, row ) {
                        if (row['type'] == 'bool') {
                            var label = $('<label/>').addClass('boolean-property btn btn-default')
                                    .addClass('boolean-property-' + row['id']).attr('data-id', row['id']);
                            var on = label.clone().html('ON').attr('data-element', 'boolean-property-' + row['id'])
                                    .attr('data-value', 1);
                            var off = label.clone().html('OFF').attr('data-element', 'boolean-property-' + row['id'])
                                    .attr('data-value', 0);

                            if (row['value'] == true) {
                                on.addClass('btn-primary');
                            } else {
                                off.addClass('btn-primary');
                            }

                            var cell = $('<div/>').addClass('btn-group btn-group-sm').append(on, off);

                            return cell.prop('outerHTML');

                        } else {
                            return data;
                        }
                    }
                },
                {
                    "targets": 3,
                    "orderable": false,
                },
                {
                    "targets": 4,
                    "data": null,
                    "orderable": false,
                    "defaultContent": '<a class="edit btn btn-primary btn-xs" data-toggle="modal" data-target="#setting-edit">Edit</a>&nbsp;<a class="delete btn btn-danger btn-xs">Delete</a>'
                } ]
            } );

            $('#setting-edit').on('shown.bs.modal', function () {
                $('#setting-edit').focus()
            });

            $('#settings tbody').on( 'click', 'a.edit', function () {
                var data = table.row( $(this).parents('tr') ).data();
                //load data to the edit form
            } );

            $('#settings tbody').on( 'click', 'a.delete', function () {
                var data = table.row( $(this).parents('tr') ).data();
                //load data to the edit form
            } );

            $('#settings tbody').on( 'click', 'label.boolean-property', function () {
                var self = $(this);
                $.post('./settings/update/' + self.data('id'), {value:self.data('value')}, function(){
                    var element = self.data('element');
                    $("." + element).toggleClass('btn-primary');
                })
            } );
        })
    </script>
{% endblock %}