{% extends 'ONGRSettingsBundle::layout.html.twig' %}

{% block stilesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>
{% endblock %}
{% block main %}
    {#{% include 'ONGRSettingsBundle:Settings:inc/addSettingModal.html.twig' %}#}
    {#{% include 'ONGRSettingsBundle:Settings:inc/duplicateModal.html.twig'%}#}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Settings</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    {% for data in data %}
                        <tbody>
                        <tr>
                            <td class=".col-xs-8 .col-md-6">{{ data.name }}</td>
                            <td class=".col-xs-18 .col-md-8">{{ data.description }}</td>
                            <td class=".col-xs-6 .col-md-4">{{ data.type }}</td>
                            <td class=".col-xs-12 .col-md-8">
                                <div class="settings-container">
                                    <div>
                                        {% if data.type == 'bool' %}
                                            <div class="btn-group btn-group-sm">
                                                <label class="boolean btn btn-default {% if data.data.value == true %}btn-primary{% endif %}" >On</label>
                                                <label class="boolean btn btn-default {% if data.data.value == false %}btn-primary{% endif %}" >Off</label>
                                            </div>
                                        {% elseif data.type == 'string' %}
                                            {{ data.data.value|slice(0, 50) }}
                                        {% elseif data.type == 'array' %}
                                            <div class="array-setting-group">
                                                <ul class="list-unstyled">
                                                    {% for element in data.data.value|slice(0,3) %}
                                                        <li>{{ element }}</li>
                                                    {% endfor %}
                                                    {% if data.data.value|length >3 %}
                                                        <li><a href="#" onclick="arrayHandleList(this, event, '{{ data.data.value|json_encode }}')">more</a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        {% elseif data.type == 'object'%}
                                            <p>{{ data.data.value|slice(0,50) }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>

                            <td class="col-xs-3">
                                <a href="{{
                                path('ongr_settings_setting_edit', {'name': data.name, 'profile': data.profile})
                                }}" class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="#" class="btn btn-primary btn-xs duplicateTrigger" url="
                                {#path('ongr_settings_setting_copy', {'name': data.name, 'from': data.profile})#}
                                " data-toggle="modal" data-target="#duplicateSettingModal" profile="{{ data.profile }}" name="{{ data.name }}">
                                    <span class="glyphicon glyphicon-transfer"></span>
                                </a>
                                <a href="#" url="{{
                                path('ongr_settings_setting_remove', {'name': data.name, 'profile': data.profile})
                                }}" class="btn btn-danger btn-xs setting-remove">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% block pager %}
            {% if filters.pager is defined %}
                <div class="pull-right">{{ ongr_paginate(filters.pager.pager, 'ongr_settings_settings_list', filters.pager.urlParameters) }}</div>
                <div class="clearfix"></div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
