{% extends "ONGRSettingsBundle::layout.html.twig" %}

{% block title %}User settings{% endblock %}

{% block main %}
    <div class="container-fluid">
        {% block head_content %}
            <div class="header">
                <h2>Personal settings</h2>
            </div>
        {% endblock %}
        <div class="row">
            <div class="col-lg-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="col-md-1">Enabled </th>
                            <th>Name</th>
                            <th>Category </th>
                            <th>Description</th>
                            <th class="col-md-4">Toggle API</th>
                        </tr>
                        </thead>
                    {% for category_id, category in categories %}
                        {% if category.settings is defined and category.name != 'ONGR Settings profiles' %}
                            {% for setting_id, setting in category.settings %}
                                <tbody>
                                    <tr class="category category-{{ category_id }}">
                                        <td class="col-md-1 enabled" >
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" class="personalSettingToggle" url="{{ setting.link }}"
                                                            {% if settings[setting_id] %}
                                                                checked="true">
                                                            {% else %}
                                                                >
                                                            {% endif %}
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                        <td class=".col-xs-18 .col-md-8 list-description">{{ setting.name }}</td>
                                        <td class=".col-xs-6 .col-md-4">
                                            {% if category.name is defined %}
                                                {{ category.name }}
                                            {% endif %}
                                        </td>
                                        <td class=".col-xs-12 .col-md-8">
                                            {% if setting.description is defined %}
                                                {{ setting.description }}
                                            {% endif %}
                                        </td>
                                        <td>{{ setting.link }}</td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </table>

                    <h2>Profiles</h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="col-md-1">Enabled </th>
                            <th>Name</th>
                            <th>Description</th>
                            <th class="col-md-4">Toggle API</th>
                        </tr>
                        </thead>
                        {% for setting_id, setting in categories['ongr_settings_profiles'].settings %}
                            <tbody>
                            <tr class="profile-ongr_settings_profiles">
                                <td class="col-md-1 enabled" >
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="personalSettingToggle" url="{{ setting.link }}"
                                                    {% if settings[setting_id] == true%}
                                                         checked="true">
                                                    {% else %}
                                                        >
                                                    {% endif %}
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td class=".col-xs-18 .col-md-8 list-description">{{ setting.name }}</td>
                                <td class=".col-xs-12 .col-md-8">
                                    {% if setting.description is defined %}
                                        {{ setting.description }}
                                    {% endif %}
                                </td>
                                <td class="col-md-4">{{ setting.link }}</td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>

            </div>
        </div>
        {% block footer_content %}{% endblock %}
    </div>
{% endblock %}
